# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
**/node_modules/

# local env files
.env
.env*.local
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# production
dist/
build/

# vercel
.vercel

# Orphan Documentation
*.txt
*.rtf
*.pdf

# Excludes
!LICENSE
!NOTICE-HARDWARE.txt
!NOTICE-DOCS.txt
!NOTICE-SOFTWARE.txt
!TRADEMARK_NOTICE.txt
!LICENSE_HARDWARE.txt
!LICENSE_DOCS.txt
!LICENSE_SOFTWARE.txt
